<!-- header -->
<%- include('partials/_header') %>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..."
                            aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row tm-row tm-mb-40">

                <div class="col-12">
                    <div class="mb-4">
                        <form action="/about-edit/<%= about[0]._id %>?_method=PUT" method="POST" class="tm-mb-80">
                            <div class="form-group">
                                <label for="title">Başlık</label>
                                <input type="text" class="form-control" id="title" name="title"
                                    value="<%= about[0].title %>" required>
                            </div>
                            <div class="form-group">
                                <label for="content">miniContent</label>
                                <br>
                                <textarea class="form-control" id="tiny" name="content" rows="3" cols="93"
                                    required><%= about[0].content  %></textarea>

                            </div>

                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </form>


                    </div>
                </div>
            </div>


            <!-- footer -->
            <%- include('partials/_footer') %>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
    </body>

    </html>