<!-- header -->
<%- include('partials/_header') %>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..."
                            aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                    <% if(userIN){ %>
                        <a href="/add-post" class="btn btn-primary">Köşe yazısı oluştur</a>
                        <% } %>

                </div>
            </div>
            <div class="row tm-row">
                <% for(i=0; i<columns.length; i++) { %>
                    <article class="col-12 col-md-6 tm-post h-50">
                        <hr class="tm-hr-primary">
                        <a href=/columns/<%=`${columns[i]._id}`%> class="effect-lily tm-post-link tm-pt-60">
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title" style="color:black; font-weight: 600;">
                                <%= columns[i].title %>
                            </h2>
                        </a>
                        <p class="tm-pt-30 content-wrapper " style="height: 100px;">
                            <%- columns[i].miniContent.substring(0,200) %>
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">

                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span class="tm-color-primary">
                                <%= new Date(columns[i].date).toLocaleDateString('tr-TR', { day: 'numeric' ,
                                    month: 'long' , year: 'numeric' }) %>
                            </span>
                            <span>
                                <% if (columns[i].author) { %>
                                    <%= columns[i].author.name %>
                                        <% } else { %>
                                            Author not found
                                            <% } %>
                            </span>
                        </div>
                    </article>

                    <% }; %>
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">

                <div class="">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>

                            <% for(i=1; i<=pages; i++){ %>
                                <% if(i==currentPage) { %>
                                    <li class="tm-paging-item active">
                                        <a href="/columns/?page=<%=i%>" class="mb-2 tm-btn tm-paging-link">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } else if( i < pages ){%>
                                        <li class="tm-paging-item">
                                            <a href="/columns/?page=<%=i%>" class="mb-2 tm-btn tm-paging-link">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } else{ %>
                                            <li class="tm-paging-item">
                                                <a href="/columns/?page=<%=i%>" class="mb-2 tm-btn tm-paging-link">
                                                    <%=i%>
                                                </a>
                                            </li>
                                            <% } %>
                                                <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- footer -->

            <%- include('partials/_footer') %>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
    </body>

    </html>