<!-- header -->
<%- include('partials/_header') %>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..."
                            aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-12 tm-post-col">
                    <div class="col-12">
                        <div class="col-12">
                            <h2 class="pt-2 tm-color-custom tm-post-title">
                                <%= column.title %>
                            </h2>
                            <p class="tm-mb-40 custom-font-size-10">
                                <%= new Date(column.date).toLocaleDateString('tr-TR', { day: 'numeric' , month: 'long' ,
                                    year: 'numeric' }) %>
                            </p>
                            <div style="color: black;">
                            <p style="color: black;">
                                <%- column.content %>
                            </p>
                        </div>
                            <span class="d-block text-right tm-color-primary"><%= column.author.name  %></span>
                        </div>


                    </div>
                </div>

            </div>
            <!-- footer -->
            <%- include('partials/_footer') %>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
    </body>

    </html>